.make-reservation-btn {
  width: 12vw;
  height: 2.5vh;
  background-color: rgb(4, 163, 163);
  border: 1px solid white;
  color: white;
  font-size: 12px
}

label {
  margin-bottom: 20px 
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 90px;
  width: 10vw;
  font-size: 12px
}


